language: ruby
rvm:
- 2.2
#- 2.1
#- 2.0
- 1.9.3
sudo: required
services:
- docker
script:
- >
  wget -O- bit.ly/ansibletest | env
  DOCKER_IMAGES="ubuntu:12.04 ubuntu:14.04 ubuntu:16.04"
  ANSIBLE_VERSIONS="1.4.4 1.7.2 2.0.0.2 2.1.0.0" sh
after_failure:
- cat role-tester-ansible-master/.kitchen/logs/*.log | grep -v '^I, '
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    on_success: change
    on_failure: change
    rooms:
      - secure: NbzXjyJnRyeS/TEN/akWxDpgKvncRqLKeKpL1NbRj1e4Rd9hyxce42B1wHX7rnSDEmyBifapyh3NZ49oWHxmYwtSTK6tYejszYdXlrA6cGqPOcL9Ikd52ro4CShvEcBSZ/WDv5gnAA+XgiHF+sQrZ0UR3RQdWONjJQq6Fhq3UfvQ1sDs65PzACwBVSy6bYhYJZsu9KNsjyWDDsQNso1THzul6W22hLdJRzOowQM0nF7nGBM0viCXHY8ClHht3XIIvmigxZZykOx/eThOiRNXJRGOV5Z0afvS6EWJlP84nQslISt4kpa0GIBzqeYmal13SY7PG4BLd3AI6QbFP0S+CSTAyccsQBUm1w6oyBdF1mLoD0MfZzBg7WqHFGbs+6fr2vKlLOEhsHqnM/OZvJf1iN9yOcMBfN6SeLbfYwhzqQr6Rvm1/bA8Y3O0WVgFyu4zxuM77AHGEiwJzWmTyaqd8403OaJdSA/bGkQI8e8VUF8HYgZbil3tVfIrz++WVAWv6O9KFh6uMIBnVj1c3Uy6nKBwn/pkybpzRkeEHudxitZpDK6zLWoBnw242WL3Q8b+boVKe0PAJBZbC5E0xBiuFHfBhJWrrrORcOJZTTE32Y82HtKV4yAWE9ullhVlr2Oyn1cd6C6KEi1CN+HBQYbZkCt/y6Q5c7u7j0A23XMtaRw=
